body {
    margin: 0;
    line-height: 1.5;
    min-height: auto;
    min-width: 100vw;
    overflow-x: hidden;
    background: #737198;
    font-family: Nunito;
    /* object-fit: fill;
    background-image: url("../images/monster-hunter-home-screen.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #56402f;
    background-position: 50% 4vh; */
}

#background-div {
    width: 100%;
}

/* .needs-blurring {
    box-shadow: 0 0 100px 100px rgba(113, 111, 151), 0 0 10px 10px rgba(113, 111, 151);
} */

#overview-img {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 50%;
    max-height: 50%;
    margin-left: 25%;
    border-radius: 2%;
}

figcaption {
    max-width: 75ch;
    margin: 0 auto;
}

ul {
    display: flex;
    flex-direction: column;
}

figure {
    margin: 0 2rem;
    margin-bottom: 3rem;
}

.navbar img {
    width: 100%;
    max-width: 3rem;
}

img {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

#background-img {
    min-width: 100%;
    height: 20vh;
    object-fit: cover;
    display: block;
}

p {
    margin: 0 auto;
    padding: 0;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 .25rem 0 rgba(0, 0, 0, .2);
    position: sticky;
    top: 0;
    z-index: 1;
    background: #3b4b53;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navbar li {
    margin-left: 1rem;
}

.navbar li a {
    text-decoration: none;
    font-weight: bold;
}

.navbar a {
    position: relative;
  }

.navbar a.active::after {
    content: "";
    position: absolute;
    bottom: 1rem;
    display: block;
    width: 100%;
    height: 0.25rem;
    background: black;
  }

.max-char-75 {
    max-width: 75ch;
}

.flex-grow-1 {
    flex-grow: 1;
}

main {
    background: rgba(115, 113, 152); 
    box-shadow: 0 0 20px 20px rgba(115, 113, 152), 0 0 10px 10px rgba(115, 113, 152);
    padding-top: 50px;
    position: relative;
}

.navbar li a:link {
    color: white;
}

.navbar li a:visited {
    color: violet;
}

.navbar li a:hover {
    color: red;
}

.navbar li a:active {
    color: blue;
}

.max-width {
    height: 10rem;
    width: auto;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.aspect-ratio-16-9 {
    margin: 0;
    padding-top: 56.25%;
    position: relative;
  }
  
.aspect-ratio-16-9 iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.max-width-45 {
    max-width: 45em;
    margin: 0 auto;
}

.left-align {
    text-align: left;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #3b4b53;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
    color: red;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: rgba(115, 113, 152);
    display: none;
    overflow: hidden;
  }

@media screen and (min-width: 50em) {
    .flex {
        display: flex;
        flex-direction: row;
    }

    .add-top-shadow {
        box-shadow: 0 0 20px 20px rgba(115, 113, 152), 0 0 10px 10px rgba(115, 113, 152);
    }

    .flex > * {
        flex: 1;
        width: 100%;
    }
}